<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <ul>
      <li><a href="/find/all">Product list</a></li>
    </ul>
    <form action="/find/id" method="get">
      <label for="id">ID</label>
      <input type="number" name="id" id="id" />
      <input type="submit" value="Search" />
    </form>
    <form action="/find/name" method="get">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
      <input type="submit" value="Search" />
    </form>
    <form action="/find/text" method="get">
      <label for="text">Text</label>
      <input type="text" name="text" id="text" />
      <input type="submit" value="Search" />
    </form>
  </body>
</html>
